<h1>New vehicle</h1>
<form #f="ngForm" (ngSubmit)="submit()">

<p>{{vehicle | json}}</p>

  <div class="form-group">
    <label for="make">Make</label>
    <select name="make" id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" required #make="ngModel">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{m.id}}" >{{m.name}}</option>
  </select>
  </div>
  <div *ngIf="make.touched && !make.valid" class="alert alert-danger">Please choose a Make</div>
  
  <div class="form-group">
    <label for="">Model</label>
    <select name="model" id="model" class="form-control" [(ngModel)]="vehicle.modelId" required #model="ngModel">
      <option value=""></option>
      <option *ngFor="let m of models" value="{{m.id}}">{{m.name}}</option>
  </select>
  </div>
  <div *ngIf="model.touched && !model.valid" class="alert alert-danger">Please choose a Model</div>

  <p>Is this vehicle registered?</p>
  <label for="registered" class="radio-inline">
  <input type="radio" id="registered" name="isRegistered" value="true" [(ngModel)]="vehicle.isRegistered">Yes
</label>
  <label for="notRegistered" class="radio-inline">
  <input type="radio" id="notRegistered" name="isRegistered" value="false" [(ngModel)]="vehicle.isRegistered">No
</label>

  <h2>Features</h2>
  <div *ngFor="let f of features" class="form-group">
    <label for="feature{{ f.id }}">
      <input type="checkbox" id="feature{{ f.id }}" (change)="onFeatureToggle(f.id, $event)"> {{f.name}}
    </label>
  </div>

  <h2>Contact</h2>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="contactName" [(ngModel)]="vehicle.contact.name" required #name="ngModel">
  </div>
  <div *ngIf="name.touched && !name.valid" class="alert alert-danger">Contact name is required</div>

  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" name="contactPhone" [(ngModel)]="vehicle.contact.phone" required #phone="ngModel">
  </div>
  <div *ngIf="phone.touched && !phone.valid" class="alert alert-danger">Contact phine is required</div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="contactEmail" [(ngModel)]="vehicle.contact.email">
  </div>
  <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
</form>